.admin-attendance-list__title {
    margin: var(--space-l) 0 var(--space-m);
    padding-left: var(--space-s);
    font-size: var(--font-xl);
    border-left: 6px solid #000;
}

.admin-attendance-list__pager {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-s) var(--space-m);
    margin-bottom: var(--space-s);
    border-radius: 10px;
    background: #fff;
}

.admin-attendance-list__pager-center {
    display: inline-flex;
    align-items: center;
    gap: var(--space-xs);
}

.pager-picker {
    display: inline-flex;
    align-items: center;
}

.pager-picker__btn {
    padding: 0;
    margin: 0;
    appearance: none;
    font-size: var(--font-m);
    background: transparent;
    border: none;
    cursor: pointer;
    line-height: 1;
}

.admin-attendance-list__pager a {
    text-decoration: none;
    color: #777;
    font-weight: bold;
}

.admin-attendance-list__pager span {
    font-size: var(--font-l);
    font-weight: bold;
}

.admin-attendance-list__table {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: var(--space-xl);
}

.admin-attendance-list__head {
    margin-bottom: 1px;
    border-radius: 10px 10px 0 0;
}

.admin-attendance-list__row {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr 1fr 0.8fr;
    align-items: center;
    min-height: var(--space-xl);
    padding: var(--space-s) var(--space-l);
    background: #fff;
}

.admin-attendance-list__row:last-child {
    border-radius: 0 0 10px 10px;
}

.admin-attendance-list__row>div {
    text-align: center;
    color: #777;
    font-weight: bold;
    white-space: nowrap;
}

.btn--list-detail {
    color: #000;
}

.pager-picker__input {
    display: none !important;
}

@media (max-width: 850px) {
    .admin-attendance-list__row {
        grid-template-columns: 1.2fr 1fr 1fr 1fr 1fr 0.9fr;
        padding: var(--space-xs) var(--space-l);
    }
}