.staff-list__title {
    margin: var(--space-l) 0 var(--space-xxl);
    padding-left: var(--space-s);
    font-size: var(--font-xl);
    border-left: 6px solid #000;
}

.staff-list__table {
    width: 100%;
    margin-top: var(--space-xl);
    border-collapse: separate;
    border-spacing: 0 3px;
    table-layout: fixed;
}

.staff-list__table-head th {
    padding: var(--space-s) var(--space-l);
    background: #fff;
    text-align: center;
    vertical-align: middle;
    color: #777;
    font-weight: bold;
    white-space: nowrap;
}

.staff-list__table-head th:first-child {
    border-top-left-radius: 10px;
}

.staff-list__table-head th:last-child {
    border-top-right-radius: 10px;
}

.staff-list__table-row td {
    padding: var(--space-s) var(--space-l);
    background: #fff;
    text-align: center;
    vertical-align: middle;
}

.staff-list__table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.staff-list__table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.staff-list__table th:nth-child(1),
.staff-list__table td:nth-child(1) {
    width: 30%;
}

.staff-list__table th:nth-child(2),
.staff-list__table td:nth-child(2) {
    width: 50%;
}

.staff-list__table th:nth-child(3),
.staff-list__table td:nth-child(3) {
    width: 20%;
}

.staff-list__table-row th:first-child,
.staff-list__table-row td:first-child {
    padding-left: 60px;
}

.staff-list__table-row th:last-child,
.staff-list__table-row td:last-child {
    padding-right: 60px;
}

.staff-list__cell {
    min-width: 0;
    text-align: center;
    color: #777;
    font-weight: bold;
    white-space: nowrap;
}

.staff-list__email {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn--list-detail {
    color: #000;
}