.attendance-list h1 {
    margin: var(--space-l) 0 var(--space-m);
    padding-left: var(--space-s);
    font-size: var(--font-xl);
    border-left: 6px solid #000;
}

.attendance-list__pager {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-s) var(--space-m);
    margin-bottom: var(--space-s);
    border-radius: 10px;
    background: #fff;
}

.attendance-list__pager a {
    text-decoration: none;
    color: #777;
    font-weight: bold;
}

.attendance-list__pager span {
    font-size: var(--font-l);
    font-weight: bold;
}

.attendance-list__table {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: var(--space-xl);
}

.attendance-list__table-head {
    margin-bottom: 1px;
    border-radius: 10px 10px 0 0;
}

.attendance-list__table-head div:first-child {
    padding-left: var(--space-s);
}

.attendance-list__table-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.8fr;
    align-items: center;
    min-height: var(--space-xl);
    padding: var(--space-s) var(--space-l);
    background: #fff;
}

.attendance-list__table-row:last-child {
    border-radius: 0 0 10px 10px;
}

.attendance-list__table-row div {
    text-align: center;
    color: #777;
    font-weight: bold;
    white-space: nowrap;
}

.attendance-list__table-row div:first-child {
    text-align: left;
    padding-left: var(--space-s);
}

.btn--list-detail {
    color: #000;
}

.btn--list-detail.is-disable {
    opacity: .35;
    pointer-events: none;
}

@media (max-width: 850px) {
    .attendance-list__table-row {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.9fr;
        padding: var(--space-xs) var(--space-l);
    }
}